doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    title Reset Your Password
  style(type='text/css').
    body{
    background-image: linear-gradient(#41e7d7,#2fd080);
    height: 100vh;
    }
    form{
    /*margin-top: 10%;*/
    }
    form h2{
    color: #FFF;
    text-align: center;
    }
    .form_box{
    background: rgba(0,0,0,.1);
    border-radius: 8px 8px 0 0;
    padding-bottom: 30px;
    padding-top: 15px;
    border-bottom: 2px solid #fff;
    }
    .form_box label{
    display: block;
    }
    .form_box input[type=password]{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background: none;
    border:none;
    border-bottom: 1px solid #fff;
    }
    .form_box input[type=submit]{
    background: #FFF;
    border-radius: 25px;
    border: none;
    padding:10px;
    width: 150px;
    text-transform: uppercase;
    margin-top: 15px;
    }
    .form_box input:focus{
    outline: none;
    }
    .mat-div {
    padding: 10px 0 0 0;
    position: relative;
    }
    .mat-div:after, .mat-div:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    }
    .mat-div::after {
    background-color: #448063;
    transform: scaleX(0);
    }
    .mat-label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    transform: translateY(25px);
    color: #448063;
    transition: all 0.5s;
    }
    .mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    }
    .is-active::after {
    transform: scaleX(1);
    }
    .is-active .mat-label {
    color: #fff;
    }
    .is-completed .mat-label {
    font-size: 12px;
    transform: translateY(0);
    }
  body
    .container
      .text-center
          img(src='http://52.47.114.206:3000/images/ic_logo_with_title.png', width='150')
      #formDiv.row
        form(action='/update-password', method='post',onsubmit='return validationForm()')

          h2 Reset Password
          .col-md-4.col-md-offset-4.form_box
            .mat-div
              label.mat-label(for='first-name') New Password
              input#password.mat-input(type='password', name='password')
             span#password_msg
            .mat-div
              label.mat-label(for='first-name') Confirm Password
              input#confirmpassword.mat-input(type='password', name='confirmpassword')
              input#resettoken(type='hidden',name='resettoken',value='#{tokenDetails}', placeholder='Confirm Password')
            span#confirmpassword_msg
            .text-center
              input(type='submit', name='', value='Confirm')
      #messageDiv.row(style='display:none')
      h1(align='center')=message
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(type='text/javascript').
    $(".mat-input").focus(function(){
    $(this).parent().addClass("is-active is-completed");
    });
    $(".mat-input").focusout(function(){
    if($(this).val() === "")
    $(this).parent().removeClass("is-completed");
    $(this).parent().removeClass("is-active");
    })
    if($("#resettoken").val()==''||$("#resettoken").val()==undefined){
    $("#formDiv").hide();
    $("#messageDiv").show();
    }
    function validationForm(){
        var password  =$("#password").val();
       // alert("aa");
        var confirmpassword  =$("#confirmpassword").val();
        if(password ==''){
        $("#password_msg").text("Password can't be blank").css("color","red");
        $('#password').css('border-bottom-color', 'red');
        return false;
        }else{
        $("#password_msg").text("");
        $('#password').css('border-bottom-color', '');
        }
        if (password.length <=7) {
        $("#password_msg").text("Minimum Length Should be 8 charector").css("color", "red");
        $('#password').css('border-bottom-color', 'red');
        return false;
        } else {
        $("#password_msg").text("");
        $('#password').css('border-bottom-color', '');
        }
        if(confirmpassword ==''){
        $("#confirmpassword_msg").text("Confirm password can't be blank").css("color","red");
        $('#confirmpassword').css('border-bottom-color', 'red');
        return false;
        }else{
        $("#confirmpassword_msg").text("");
        $('#confirmpassword').css('border-bottom-color', '');
        }
        if(confirmpassword != password){
        $('#password').css('border-bottom-color', 'red');
        $('#confirmpassword').css('border-bottom-color', 'red');
        $("#confirmpassword_msg").text("Password and Confirm password mismatch").css("color","red");
        return false;
        }else{
        return true;
        }
        }