<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <!-- <img *ngIf="form.get('imageSrc').value" [src]="form.get('imageSrc').value" class="avatar mr-5"> -->

    
    <h2 *ngIf="!form.get('app_version').value && !form.get('app_version').value"
        class="headline m-0"
        fxFlex="auto">Version Manage</h2>

    <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button> -->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field class="mt-6" fxFlex>
        <mat-label>App Version</mat-label>
        <input cdkFocusInitial formControlName="app_version" matInput>

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Download Link</mat-label>
        <input cdkFocusInitial formControlName="download_link" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>





      


    </div>
   <mat-form-field class="mt-6" fxFlex>
        <mat-label>Coin Price in USD</mat-label>
        <input cdkFocusInitial formControlName="coin_price_usd" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Wallet API Link</mat-label>
        <input cdkFocusInitial formControlName="wallet_api_link" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Wallet Key</mat-label>
        <input cdkFocusInitial formControlName="wallet_key" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>API Expiration(Minutes)</mat-label>
        <input cdkFocusInitial formControlName="api_expiration_time" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>E-Currency Price API</mat-label>
        <input cdkFocusInitial formControlName="e_currency_price_api" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

        <mat-form-field class="mt-6" fxFlex>
        <mat-label>Transaction Fee Withdrawal</mat-label>
        <input cdkFocusInitial formControlName="transaction_fee_withdrawl" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Transaction Fee Deposit</mat-label>
        <input cdkFocusInitial formControlName="transaction_fee_deposit" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Minimum Deposit</mat-label>
        <input cdkFocusInitial formControlName="minimum_deposit" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

       <mat-form-field class="mt-6" fxFlex>
        <mat-label>Minimum Withdrawal</mat-label>
        <input cdkFocusInitial formControlName="minimum_withdrawl" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>New Account Gift Coins</mat-label>
        <input cdkFocusInitial formControlName="new_account_gift_coins" matInput type="number">

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Master Message</mat-label>
        <input cdkFocusInitial formControlName="master_message" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="mt-6" fxFlex>
        <mat-label>Allow Minimum Account Withdrawal</mat-label>
        <input cdkFocusInitial formControlName="allow_mini_account_withdrawal" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

        <mat-form-field class="mt-6" fxFlex>
        <mat-label>Support Email</mat-label>
        <input cdkFocusInitial formControlName="support_email" matInput >

        <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">ADD VERSION</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE VERSION</button>
  </mat-dialog-actions>
</form>

<!-- <mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu> -->
